.Chat {
  display: flex;
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  border-radius: 20px;
  height: 90vh;
}
.chat-message{
  display: flex;
  margin: 0 auto;
  box-shadow: var(--profileShadow);
  background: var(--cardColor);
  height: 50px;
  padding: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 70%;
  border-radius: 20px;
}

.Chat-container {
  width: 100%;
  display: flex;
  box-shadow: var(--profileShadow);
  flex-direction: column;
  background: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
  height: auto;
  min-height: 80vh;
  height: 90%;
  overflow: scroll;
}

.Chat-list {
  display: flex;
  flex-direction: column;
  height: 80%;
  max-height: 70%;
  overflow:scroll;
  overflow-x:hidden;
}

.inputCl{
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: flex-end;

}
.inputM{
  width: 80%;
  background-color: var(--inputColor);
  border-radius: 10px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 20px;
}
.sendB{
  margin-left: 25px;
  height: 69px;
  font-size: 22px;
}.sendB:hover{
  font-size: 22px;
}
.profilpicChat{
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.messageInfo{
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  width: 86%;
  justify-content: space-between;
}
.messageInfoLeft{
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.info1{
  display: flex;
  justify-content: start;
  color: linear-gradient(106.23deg, #f44c75 0%, #602b7a 100%); 
  color: var(--pink)
}
.info2{
  display: flex;
  justify-content: start;
  color: black;
  font-size: 18px;
  margin-top: 5px;
}
.info3{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* @media screen and (max-width: 768px) {
  .Chat {
     grid-template-columns: 16% auto;
   }
    .follower.conversation>div>.name{
     display: none;
    }
 }  */

 

 @media screen and (max-width: 475px) {
  .info3{
      display: none;
  }

 }