.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toAuthSpan{
  cursor: pointer;
  font-size: 14px; 
  font-weight: 600;
}
.toAuthSpan:hover{
  color: blue;
  text-decoration: underline;
}
.toLoginSpanR{
  font-size: 16px; 
  font-weight: 600;
}
.toLoginSpan{
  cursor: pointer;
  font-size: 16px; 
  font-weight: 600;  
}
.toLoginSpan:hover{
  color: blue;
  text-decoration: underline;  
}

/* left side */
.a-left{
    gap: 2rem;
}

.a-left > img {
  margin-top: -46px;
  width: 4rem;
  height: 4rem;
}

.Webname > h1 {
    font-size: 3rem;
    background-color: red;
  
    background-image: linear-gradient(106.23deg, #f44c75 0%, #602b7a 100%);/*var(--buttonBg);*/
    
    /* background: linear-gradient(106.23deg, #f44c75 0%, #602b7a 100%); */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.Webname>h6{
    font-size: 0.85rem;
    display: flex;
    justify-content: end;
}

.authForm{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 2rem;
    box-shadow: var(--profileShadow);
}

.authForm>div{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.link-to__list {
  text-decoration: none;
  color: white;
}
.link-to__list:hover {
  text-decoration: none;
  color: var(--pink);
}
.link-to__list1:hover {
  color: var(--pink);
}

@media screen and (max-width: 620px) {
  .Webname{
    display: none;
  }

}
@media screen and (max-width: 470px) {
  .a-right{
    width: 90%;
  }
  .authForm{    
    width: 90%;
  }
  .mobVers1 .infoInputR{
    width: 90%;
  }

}