.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.navIcons{
    display: flex;
    justify-content: space-around;
    box-shadow: var(--profileShadow);
    height: 50px;
    align-items: center;
    border-radius: 15px;
}
.settIcon{
    height: 100%;
    cursor: pointer;
    display: flex;    
    align-items: center;
    /* background-color: black; */
}
.navIcons>a>img{
    width: 1.5rem;
    height: 1.5rem;
}

.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}

.navIcons>img:hover{
    cursor: pointer;
}

.r-button{
    height:3rem;
    width: 100%;
    align-self: center;
}
.r-button:hover{
    height:3rem;
    width: 100%;
    align-self: center;
}